h1 {
	font-family: 'Arvo', serif;
	color: white;
	
}


ol, .story, .sticky {
	font-family: 'Shadows Into Light', cursive;
	font-size: 22px;
	
}

.sticky {
	position: sticky;
    top: 1rem;

}

.story{
	width:75%;
}

.breadcrumbs {
    width: 20%;
	margin-top: 95.78px;
}

body {
	background-color: #F0C4FF;
	margin: 0;
}

.restart{
	color: rgb(255, 255, 255);
	cursor: pointer;
	
}

.story {
	padding: 0.75rem 0 0.75rem 0.75rem;
}

.breadcrumbs {
	padding: 0.75rem 0 0.75rem 0;
}

.wrapper {
	display: flex; 
	justify-content: space-between;
	max-width: 1024px;
	margin: 0 auto;
}


#choiceList li:hover
 {
	color: rgb(255, 255, 255);
	cursor: pointer;

}


.wrap {
	display: flex;
	flex-direction: row; 
	flex-wrap: wrap;
	margin-top: auto;
	bottom: 0;
	width: 100%;
	flex-wrap: nowrap;
}

.box1 {
	background-color: #94BFFF;
	height: 112px;
	width: 100%;
}

.box2 {
	background-color: #64A2FF;
	height: 112px;
	width: 100%;
}

.box3 {
	background-color: #A2EE95;
	height: 112px;
	width: 100%;
}

.box4 {
	background-color: #5CED44;
	height: 112px;
	width: 100%;
}

.box5 {
	background-color: #FAB2B2;
	height: 112px;
	width: 100%;
}

.box6 {
	background-color: #F86E6E;
	height: 112px;
	width: 100%;
}

.Blackbulb {
	width: 20%;
	height: 20%;
}