

* {
	box-sizing: border-box;
}
body {
	background: rgb(0, 0, 0);
	color: white;
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 22px;
	height: 100vh;
	
}

h1
{
	font-family: 'Poiret One', cursive;
border-style: dashed;
border-width: 4px;
border-color: black;
padding: 0.60rem;
background-color: gold;
color: black;



}
  





h2 {
	font-size: 1.25rem;
	padding-bottom: 0.25rem;
	border-bottom: 3px groove rgba(255,255,255,.5);

  
}
 

.sticky {
	position: sticky;
	top: 1rem;

}

.wrapper {
	max-width: 1200px;
	margin: 0 auto;
	padding: 0.75rem;
	display: flex;
	justify-content: space-between;
	
}

.story {
	width: 75%;
	text-align: justify;

	
	
}

.breadcrumbs {
	width: 20%;

	background-color:gold;
	text-align: center;

    color: black;
	border-style: dashed;
border-width: 4px;





}




.restart {
	color:gold;
}

#choiceList li,
.restart {
	transition: all ease-in 200ms;
    justify-content: flex-start;
}

#choiceList li:hover,
.restart:hover {
	color: rgb(0, 0, 0);
	cursor: pointer;
  background-color: #ffffff;
  border: none;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 25px;
  flex-direction: row;
}
#text {
  color:  rgb(255, 255, 255);
  font-family: 'Special Elite', cursive;

}

