h1 {
	font-family: 'Arvo', serif;
	color: white;
	
}


ol, .story, .sticky {
	font-family: 'Shadows Into Light', cursive;
	font-size: 22px;
	
}

.sticky {
	position: sticky;
    top: 1rem;

}

.story{
	width:75%;
}

.breadcrumbs {
    width: 20%;
}

body {
	background-color: #a0f2fa;
}

.restart{
	color: rgb(255, 255, 255);
	cursor: pointer;
	
}

.wrapper {
	display: flex; 
	justify-content: space-between;
	max-width: 1024px;
	padding: 0.75rem;
	margin: 0 auto;
}


#choiceList li:hover
 {
	color: rgb(255, 255, 255);
	cursor: pointer;



}


